<a href="https://colab.research.google.com/github/panxiaochen001/Pandas-Exercise/blob/main/Intro_to_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Numpy - List to Array

In [ ]:
a_list = [1,2,3,4,5,6,7]

In [ ]:
type(a_list)

list

In [ ]:
b_array = np.array([1,2,3,4,5,6,7])

In [ ]:
type(b_array)

numpy.ndarray

Why array not list? ----- the speed of operation

Example 1: Using list to do the muplication (multiply 10 for each element)

In [ ]:
arr = []

for i in a_list:
  arr.append(i * 10)

arr

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
list(map(lambda i:i*10,a_list))

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
[i * 10 for i in a_list]

[10, 20, 30, 40, 50, 60, 70]

Example 2: Using array to do the muplication (multiply 10 for each element)

In [ ]:
b_array*10

array([10, 20, 30, 40, 50, 60, 70])